{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static 'css/auth_style.css' %}" media="screen" type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" media="screen" type="text/css"/>

		<title>Вход</title>
	</head>
	<body>
		<div>
			<p class="logo">Vlery</p>
		</div>

 		<div class="login">
 			<a href="https://oauth.vk.com/authorize?client_id=6340308&redirect_uri=http://turmezzz.pythonanywhere.com/get_access_token&display=popup&scope=73728&response_type=code&v=5.74&state=123456">
 			<!-- <a href="https://oauth.vk.com/authorize?client_id=6340308&redirect_uri=https://oauth.vk.com/blank.html &display=popup&scope=77824&response_type=code&v=5.74&state=123456"> -->
 				<button class="button_vk_auth">
					Войти через
					<i class="fa fa-2x fa-vk" aria-hidden="true"></i>
				</button>
			</a>

 		</div>

	</body>
</html>
