{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/home_style.css' %}" media="screen" type="text/css"/>
		<title>Поиск</title>
	</head>
	<body>
		<div class="settings">
			<img src="{{ img_url }}" class="ava">
			<p class="name">{{ name }}</p>
			<a class="logout" href="/logout"> Выйти </a>
		</div>
		<p class="logo">Vlery</p>
		<div class="search">
	        <form action="search">
	            <p>
	                <input class="queue" type="text" name="q">
	            </p>
	            <p>
	               	<input class="submit" type="submit" value="поиск">
	            </p>
	        </form>
    	</div>
	</body>
</html>
