{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/output_style.css' %}" media="screen" type="text/css"/>
		

		<title>Поиск</title>
	</head>
	<body>
		<div class="settings">
			<img src="{{ img_url }}" class="ava">
			<p class="name">{{ name }}</p>
			<a class="logout" href="/logout"> Выйти </a>
		</div>
		<div class="head">
			<p class="logo">Vlery</p>	
			<div class="search">
	        	<form action="search">
	            	<p class="center">
	                	<input class="query" type="text" name="q" value="{{ query }}">
	            	</p> 
	        	</form>
    		</div>
    	</div>
    	<div class="output">
    		{% for post in posts %}
	    		<div class="post">
	    			<a href="{{ post.link }}">
	    				перейти к оригиналу
	    			</a>
	    			<hr>
	    			<p class="txt">
	    				{{ post.text }}
	    			</p>
	    			<!-- {% for img in post.imgs %}
	    				<img src="img.link">
	    			{% endfor %} -->
	    		</div>
	    	{% endfor %}
	    	{% for message in messages %}
	    		<div class="post">
	    			<p class="msg">
	    				{{ message }}
	    			</p>
	    		</div>
	    	{% endfor %}
    	</div>
	</body>
</html>